.search-bar{
    margin:20px;
    text-align: center;
}
.list-group-item:hover{
    background-color:gainsboro;
}
.search-bar input{
    width:50%;
    height:40px;
    border-radius: 10px;
    border: 2px solid greenyellow;
    
}